/dts-v1/;

#include "ast2400.dtsi"
#include <dt-bindings/gpio/gpio.h>

/ {
	model = "Sthelens BMC";
	compatible = "ms,sthelens-bmc", "aspeed,ast2400";
	ahb {
		mac0: ethernet@1e660000 {
		        compatible = "faraday,ftgmac100", "aspeed,ast2400-mac";
		        reg = <0x1e660000 0x180>;
		        interrupts = <2>;
		        no-hw-checksum;
		        status = "disabled";
		};

		mac1: ethernet@1e680000 {
		        compatible = "faraday,ftgmac100", "aspeed,ast2400-mac";
		        reg = <0x1e680000 0x180>;
		        no-hw-checksum;
		        interrupts = <3>;
		};

		fmc@1e620000 {
			reg = < 0x1e620000 0x94
				0x20000000 0x02000000 >;
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "aspeed,fmc";
			flash@0 {
				reg = < 0 >;
				compatible = "jedec,spi-nor" ;
				/*
				 * Possibly required props:
				 * spi-max-frequency = <>
				 * spi-tx-bus-width = <>
				 * spi-rx-bus-width  = <>
				 * m25p,fast-read
				 * spi-cpol if inverse clock polarity (CPOL)
				 * spi-cpha if shifted clock phase (CPHA)
				 */
#include "aspeed-bmc-opp-flash-layout.dtsi"
			};
		};
		spi@1e630000 {
			reg = < 0x1e630000 0x18
				0x30000000 0x02000000 >;
			#address-cells = <1>;
			#size-cells = <0>;
			compatible = "aspeed,smc";
			flash {
				reg = < 0 >;
				compatible = "jedec,spi-nor" ;
				label = "pnor";
				/* spi-max-frequency = <>; */
				/* m25p,fast-read; */
			};
		};
		apb {
			i2c: i2c@1e78a040 {
				i2c1: i2c-bus@80 {
					GPIO-MUX5@70 {
							compatible = "nxp,pca9548";
							reg = <0x70>;
					};
				};
				i2c2: i2c-bus@c0 {
					i2c-switch@76 {
							compatible = "nxp,pca9548";
							reg = <0x76>;
                			i2c@0 {
                        			reg = <0x00>;
                			};
                			i2c@1 {
                        			reg = <0x01>;
                        	};
                			i2c@2 {
                        			reg = <0x02>;
                			};
                			i2c@3 {
                        			reg = <0x03>;
                        	};
                			i2c@4 {
                        			reg = <0x04>;
                			};
                			i2c@5 {
                        			reg = <0x05>;
                        	};
                			i2c@6 {
                        			reg = <0x06>;
                			};
                			i2c@7 {
                        			reg = <0x07>;
                        	};
        			};
				};
				i2c3: i2c-bus@100 {
        				GPIO-MUX1@74 {
                								compatible = "nxp,pca9539";
                								reg = <0x74>;
        				};
                                        GPIO-MUX2@75 {
                                                                                compatible = "nxp,pca9539";
                                                                                reg = <0x75>;
                                        };
                                        GPIO-MUX3@76 {
                                                                                compatible = "nxp,pca9539";
                                                                                reg = <0x76>;
                                        };
                                        GPIO-MUX4@77 {
                                                                                compatible = "nxp,pca9539";
                                                                                reg = <0x77>;
                                        };
					};
			};
		};
	};


	leds {
		compatible = "gpio-leds";

		heartbeat {
			gpios = <&gpio 140 GPIO_ACTIVE_HIGH>;
			default-state = "keep";
		};
		identify {
			gpios = <&gpio 44 GPIO_ACTIVE_LOW>;
			default-state = "keep";
		};
		beep {
			gpios = <&gpio 111 GPIO_ACTIVE_HIGH>;
			default-state = "keep";
		};
	};
};

